{
  :discord-admin-channel-id ""
  :discord-announcement-channel-id ""
  :discord-guild-id ""
  :discord-token ""
  :game-server-password ""
  :get5-match-config-url-template ".../match/<match-id>/config"
  :import-blacklist #{""}
  :map-pool ["de_inferno" "de_overpass" "de_train" "de_shortnuke" "de_vertigo"]
  :python-executable ""
  :python-library-path ""
  :servers [{:id 1
             :ip_string ""
             :port 11111
             :rcon_password ""}]
  :test-server-host ""
  :test-server-port 11111
  :test-server-rcon-password ""
  :toornament-api-key ""
  :toornament-client-id ""
  :toornament-client-secret ""
}